@charset "UTF-8";
/* CSS Document */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
body * {
    position: absolute;
    vertical-align: baseline;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

#main_wrapper {
    position: absolute;
    display: block;
    width: 994px;
    height: 250px;
    overflow: hidden;
    background-color: #cae8f3;
    opacity: 0;
}

#frame {
    position: absolute;
    display: block;
    width: 994px;
    height: 250px;
    z-index: 5;
    pointer-events: none;
}

.active#main_wrapper {
    opacity: 1;
}

#circle {
    left: 792px;
    top: 37px;
	background: url('img/stoerer.svg') no-repeat;
	background-size: 162px 162px;
	width: 162px;
	height: 162px;
    pointer-events: none;
}

#copy1 {
	background: url('img/copy1.png') no-repeat;
	background-size: 994px 250px;
	width: 994px;
	height: 250px;
    pointer-events: none;

}
#copy2 {
	background: url('img/copy2.png') no-repeat;
	background-size: 994px 250px;
	width: 994px;
	height: 250px;
    pointer-events: none;

}
#copy3 {
	background: url('img/copy3.png') no-repeat;
	background-size: 994px 250px;
	width: 994px;
	height: 250px;
    pointer-events: none;

}

#heroImg {
	background: url('img/bild.png') no-repeat;
	background-size: 994px 250px;
	width: 994px;
	height: 250px;
    pointer-events: none;

}

#white_plane {
    position: absolute;
    display: block;
    width: 994px;
    height: 250px;
    background-color: #fff;
    pointer-events: none;
}